<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
    <title>Yogix</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body class="my-bg">
    <%- include('./partials/navbar')%>
        <input type="hidden" name="email" id="email" value="<%-User.email%>">

        <div class="inputfieds flex justify-center items-center py-4 flex-wrap">
            <div class="grid lg:w-[40rem] md:w-[30rem] sm:w-[20rem] grid-cols-3 space-x-2 rounded-xl bg-gray-200 p-2" x-data="app">
                <div>
                    <input type="radio" name="option" id="Ashtanga" class="peer hidden" checked />
                    <label for="Ashtanga" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">Ashtanga</label>
                </div>

                <div>
                    <input type="radio" name="option" id="Hatha" class="peer hidden" />
                    <label for="Hatha" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">Hatha</label>
                </div>

                <div>
                    <input type="radio" name="option" id="Bikram" class="peer hidden" />
                    <label for="Bikram" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">Bikram</label>
                </div>
            </div>
            <input class="my-4 mx-4" type="date" value="2022-03-15" name="dateinput" id="datepicker1">
            <button class="my-btn" id="getData">Get Data</button>
        </div>

        <h1 id="session_detail"></h1>
        <div class="inputfieds flex justify-center items-center py-4 flex-wrap" id="sessionNo">
            <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white my-btn text-center inline-flex items-center" type="">Select Session <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
            <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow " style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(352px, 10px);" data-popper-reference-hidden="" data-popper-escaped=""
                data-popper-placement="top">
                <ul class="py-1 text-sm" id="list" aria-labelledby="dropdownDefault">
                </ul>
            </div>
        </div>
        <h1 id="set_detail"></h1>
        <div class="inputfieds flex justify-center items-center py-4 flex-wrap" id="setNo">
            <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider" class="text-white my-btn text-center inline-flex items-center" type="">Select SetNO <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
            <div id="dropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                <ul class="py-1 text-sm" id="list2" aria-labelledby="dropdownDividerButton">

                </ul>
            </div>
        </div>

        <div class="dashboard p-6">
            <div class="dashboard-left flex flex-col lg:flex-row">
                <div id="chartContainer4" class="relative overflow-hidden lg:w-[40vw] h-[50vh] bg-[#3d3d3d]">
                    <!-- <canvas id="myChart"></canvas> -->
                </div>
                <div id="cards" class="cards">

                </div>
            </div>
            <div class="dashboard-right">
                <div id="cards" class="cards"></div>
            </div>
        </div>
        <div class="yoga-info flex justify-center items-center flex-wrap">
            <div id="chartContainer1" class="relative overflow-hidden w-full lg:w-[40vw] h-[50vh] m-4">
            </div>
            <!-- <div id="chartContainer4" class="relative overflow-hidden w-[40vw] h-[50vh] p-4">
                <canvas id="myChart2"></canvas>
            </div> -->
            <div id="chartContainer2" class="relative overflow-hidden w-full lg:w-[40vw] h-[50vh] m-4">
            </div>
            <!-- <div id="chartContainer4">
                <canvas id="myChart1"></canvas>
            </div> -->
            <div id="chartContainer3" class="relative overflow-hidden w-full lg:w-[40vw] h-[50vh] m-4">
            </div>
            <!-- <div id="chartContainer4">
                <canvas id="myChart"></canvas>
            </div> -->
            <img id="image" class="relative overflow-hidden lg:w-[40vw] h-[50vh] m-4">
            </img>

        </div>
        <script src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/public/js/app.js"></script>
        <script src="/public/js/dashboard.js"></script>
</body>

</html>