<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
    <title>Yogix</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <%- include('./partials/navbar')%>

        <section class="h-screen w-full flex flex-col lg:flex-row my-bg">
            <div class="lg:w-2/4 overflow-hidden">
                <img src="../../public/img/YogiX-1.png" class="hidden lg:block w-full" alt="">
            </div>
            <div class="lg:w-3/5 flex flex-col justify-evenly items-start px-8 h-full">
                <h1 class="text-3xl md:text-6xl"> Supercharge your yoga teaching with AI</h1>
                <p class="text:sm md:text-xl">YOGIX is a Computer Vision and Data Science project providing a virtual bridge between teacher and student, to help Yoga studios thrive in the digital age</p>
                <a href="/ashtangainfo"> <button class="my-btn">Get Started</button></a>
                <div class="flex">
                    <div class="flex  items-center text-white rounded-md bg-black p-1 mr-2">
                        <i class="fab fa-apple text-lg"></i>
                        <div class="text-xs pl-2">
                            <p>Download on the</p>
                            <h6>Apple Store</h6>
                        </div>
                    </div>
                    <div class="flex  items-center text-white rounded-md bg-black p-1">
                        <i class="fab fa-google-play text-lg"></i>
                        <div class="text-xs pl-2">
                            <p>Get It On</p>
                            <h6>Google Play</h6>
                        </div>
                    </div>

                </div>
                <div class="flex items-center">
                    <h6 class="text-sm">Seed funded by
                    </h6>
                    <img src="../../public/img/image 1.png" alt="">
                </div>
            </div>
        </section>
        <!-- section2 -->
        <section class="w-full flex flex-col lg:flex-row my-4" id="features">
            <div class="lg:w-2/4  overflow-hidden h-full">
                <img src="../../public/img/Untitled.png" alt="">
            </div>
            <div class="lg:w-3/5 flex flex-col justify-evenly items-start px-8 min-h-screen">
                <h1 class="text-3xl md:text-5xl my-4">Motion tracking for secure and effective classes</h1>
                <p class="text-xs sm:text-sm md:text-xl my-4">We believe in the Yoga Studio as a hub for communities and we developed YOGIX in response to the devastating effects of the Covid-19 pandemic on these vibrant connections.</p>
                <p class="text-xs sm:text-sm md:text-xl my-4">Our aim is to support Yoga Studios with YOGIX, to give the Studios digital features to attract their communities back, both in person and online as we navigate the long good-bye to Covid-19</p>
                <div class="flex flex-col sm:flex-row">
                    <div class="max-w-xs mx-auto overflow-hidden bg-white rounded-lg shadow-lg p-4 m-2">
                        <i class="far fa-video text-lg my-color"></i>
                        <h5 class="font-semibold">Smart Tools</h5>
                        <span class="text-xs sm:text-sm">Artificial intelligence (Computer Vision and Machine Learning) tools digitally enhance your yoga business.</span>
                    </div>
                    <div class="max-w-xs mx-auto overflow-hidden bg-white rounded-lg shadow-lg p-4 m-2">
                        <i class="fal fa-eye text-lg my-color"></i>
                        <h5 class="font-semibold">VR Features</h5>
                        <span class="text-xs sm:text-sm">Virtual Reality features, e.g. custom avatar 'skins', Yoga kit and virtual locations re-connect Yoga friends and community.</span>
                    </div>
                    <div class="max-w-xs mx-auto overflow-hidden bg-white rounded-lg shadow-lg p-4 m-2">
                        <i class="fas fa-signal-alt text-lg my-color"></i>
                        <h5 class="font-semibold">In-depth Reports</h5>
                        <span class="text-xs sm:text-sm">Quantitative performance reporting is automated and catalyses constant improvement of your students.</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- section3 -->
        <section class="w-full flex flex-col lg:flex-row my-4">
            <div class="lg:w-2/4  flex flex-col justify-evenly items-start px-8">
                <img src="../../public/img/Rectangle Copy.png" alt="">
                <h1 class="text-3xl md:text-5xl my-4">Schedule classes and receive <span class="my-color">fast payments </span></h1>
                <p class="text-xs sm:text-sm md:text-xl my-4">Easily Create and Sell Yoga Courses! <br> Create Quizzes and Questions For Evaluation <br> Manage Lessons Easily <br> Easily create offline class to provide detail about you</p>
            </div>
            <div class="lg:w-2/4  overflow-hidden h-full px-8">
                <img src="../../public//img/Group 18.png" alt="">
            </div>
        </section>
        <!-- section4-->
        <section class="w-full flex flex-col lg:flex-row my-4 my-bg">
            <div class="lg:w-2/4  overflow-hidden h-full">
                <!-- <div class="max-w-[30rem] overflow-hidden carousal">
                    <div class="owl-carousel owl-theme carousal1">
                        <div class="item">
                            <img src="/public/IMG/Home 1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/public/IMG/Home 1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/public/IMG/Home 1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/public/IMG/Home 1.png" alt="">
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="lg:w-2/4 flex flex-col justify-evenly items-start px-8 min-h-screen">
                <img src="../../public/img/Asset 3.png" alt="">
                <h1 class="text-3xl md:text-5xl my-4">Explore Yogix, yoga for the new age</h1>
                <p class="text-xs sm:text-sm md:text-xl my-4">Our exclusive database of Yoga postures, angles and feedback prompts is available to you through Yogix. Practicing with YOGIX Artificial Intelligence helps you and your clients get to the next level in Yoga.</p>
                <a href="/ashtangainfo"> <button class="my-btn">Get Started</button></a>
            </div>
        </section>
        <!-- section5 -->
        <section class="w-full flex flex-wrap my-4">
            <div class="max-w-xs mx-auto my-auto overflow-hidden bg-white rounded-lg shadow-lg p-4">
                <a href="/bikraminfo">
                    <img src="../../public/img/bikram.jpg" alt="">
                    <h6 class="text-xs sm:text-sm md:text-xl my-4 text-center">Bikram Yoga</h6>
                </a>
            </div>
            <div class="max-w-xs mx-auto my-auto overflow-hidden bg-white rounded-lg shadow-lg p-4">
                <a href="/ashtangainfo">
                    <img src="../../public/img/ashtanga.jpg" alt="">
                    <h6 class="text-xs sm:text-sm md:text-xl my-4 text-center">Ashtanga Yoga</h6>
                </a>
            </div>
            <div class="max-w-xs mx-auto my-auto overflow-hidden bg-white rounded-lg shadow-lg p-4">
                <a href="/hathainfo">
                    <img src="../../public/img/hatha.jpg" alt="">
                    <h6 class="text-xs sm:text-sm md:text-xl my-4 text-center">Sun Salutation</h6>
                </a>
            </div>
            <div class="max-w-xs mx-auto my-auto overflow-hidden bg-white rounded-lg shadow-lg p-4">
                <a href="#">
                    <img src="../../public/img/17.png" alt="">
                    <h6 class="text-xs sm:text-sm md:text-xl my-4 text-center align-middle">Challenges</h6>
                </a>
            </div>
        </section>
        <!-- section6 -->
        <section class="w-full flex flex-col lg:flex-row my-4 my-bg p-6">
            <div class="lg:w-3/5  flex flex-col justify-evenly items-center">
                <img src="../../public/img/11.png" class="w-3/4" alt="">
                <h1 class="text-3xl md:text-5xl my-8">Our <span class="my-color"> YOGIX</span> coach + Your favourite YouTube video = <span class="my-color"> Yoga Match</span></h1>
                <button class="my-btn">Get Started</button>
            </div>
            <div class="lg:w-2/4 flex flex-col px-8 h-full lg:min-h-screen  justify-center items-center">
                <img src="../../public/img/13.png" class="w-1/4" alt="">
                <h1 class="text-3xl">+</h1>
                <img src="../../public/img/Asset 3.png" class="w-1/4" alt="">
            </div>
        </section>
        <!-- section7 -->
        <section class="flex flex-col justify-center items-center p-6 md:flex-row" id="partners">
            <h1 class="md:w-1/4 text-3xl md:text-5xl my-8 w-full text-center"> Our research partners & advisors</h1>
            <div class="md:w-3/4 flex flex-wrap items-center justify-center w-full">
                <img src="../../public/img/1.png" class="m-4" alt="">
                <img src="../../public/img/2.png" class="m-4" alt="">
                <img src="../../public/img/3.png" class="m-4" alt="">
                <img src="../../public/img/4.png" class="m-4" alt="">
                <img src="../../public/img/5.png" class="m-4" alt="">
                <img src="../../public/img/6.png" class="m-4" alt="">
            </div>
        </section>
        <!-- section8 -->
        <section class="w-full my-4" id="testimonials">
            <h1 class="text-3xl md:text-5xl my-8 w-full text-center">Yogis who love Yogix</h1>
            <p class="text-xs sm:text-sm md:text-xl my-4 text-center">Join the top yoga practitioners and instructors worldwide</p>
            <div class="flex flex-col justify-center items-center md:flex-row">
                <div class="md:w-1/3 w-full m-8 overflow-hidden bg-white  p-4 flex flex-col items-center justifi-center">
                    <img src="../../public/img/7.jpg" class="w-24 rounded-full" alt="">
                    <h5 class="my-color">Joan Foo</h5>
                    <h6>Yoga Student</h6>
                    <p class="text-sm text-center">Highly recommended training app for anyone who loves working hard and learn new training methods.</p>
                </div>
                <div class="md:w-1/3 w-full m-8 overflow-hidden bg-white  p-4 flex flex-col items-center justifi-center">
                    <img src="../../public/img/9.jpg" class="w-24 rounded-full" alt="">
                    <h5 class="my-color">Carly Jackson</h5>
                    <h6>Studio Owner</h6>
                    <p class="text-sm text-center">I love the training videos it makes it so much easier to follow and understand. Keep making training easy for all of us beginners</p>
                </div>
                <div class="md:w-1/3 w-full m-8 overflow-hidden bg-white  p-4 flex flex-col items-center justifi-center">
                    <img src="../../public/img/8.jpg" class="w-24 rounded-full" alt="">
                    <h5 class="my-color">Jack Maro</h5>
                    <h6>Gym Owner</h6>
                    <p class="text-sm text-center">A great app with everything you need and want in a fitness app. I am now working through the list of things I have always wanted.</p>
                </div>
            </div>
        </section>
        <!-- section9 -->
        <section class="w-full flex flex-col lg:flex-row my-4 my-bg" style="height: 70vh;">
            <div class="lg:w-2/4 h-2/3 my-auto overflow-hidden p-4">
                <img src="../../public/img/Home 1.png" class="w-1/2 mx-auto my-auto" alt="">
            </div>
            <div class="lg:w-3/5 flex flex-col justify-center items-start px-8">
                <h1 class="text-3xl md:text-5xl my-4">Sign Up for Yogix today</h1>
                <p class="text-xs sm:text-sm md:text-xl my-4">Supercharge your yoga teaching with AI</p>
                <div class="flex">
                    <div class="flex  items-center text-white rounded-md bg-black p-1 mr-2">
                        <i class="fab fa-apple text-lg"></i>
                        <div class="text-xs pl-2">
                            <p>Download on the</p>
                            <h6>Apple Store</h6>
                        </div>
                    </div>
                    <div class="flex  items-center text-white rounded-md bg-black p-1">
                        <i class="fab fa-google-play text-lg"></i>
                        <div class="text-xs pl-2">
                            <p>Get It On</p>
                            <h6>Google Play</h6>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <%- include('./partials/footer')%>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/public/js/app.js"></script>
</body>

</html>