<!-- footer -->
<footer class="w-full flex flex-col md:flex-row">
    <div class="w-full md:w-2/4 ">
        <div class="flex  flex-wrap md:flex-row mx-auto">
            <div class="m-4 md:m-8">
                <h1 class="text-xl font-bold">Company</h1>
                <ul>
                    <li><a href="#">Why Yogix?</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
            </div>
            <div class="m-4 md:m-8">
                <ul>
                    <li><a href="#">YogiX</a></li>
                    <li><a href="#">sportX</a></li>
                </ul>
            </div>
            <div class="m-4 md:m-8">
                <h1 class="text-xl font-bold">Contact</h1>
                <ul>
                    <li><a href="#">247A Victoria Street</a></li>
                    <li><a href="#">Singapore -188033</a></li>
                    <li><a href="#">hello@yogix.ai</a></li>
                </ul>
            </div>
            <div class="m-4 md:m-8">
                <h1 class="text-xl font-bold">Legal</h1>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms of</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full md:w-2/4">
        <div class="border  my-bg pl-3 rounded-full m-4 md:m-8">
            <form action="/subscribe">
                <input type="email" placeholder="Email" class="bg-transparent outline-none w-full py-1.5">
                <button class="my-btn absolute right-0">Subscribe</button>
            </form>
        </div>
    </div>
</footer>
<div class="text-center my-color text-sm">Copyright @ 2021 YogiX.ai. All Rights Reserved.</div>