<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
    <title>Yogix</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <%- include('../partials/navbar')%>
        <section class="w-full  object-contain">
            <img src="../../../public/img/14.png" alt="">
        </section>
        <section class="md:flex h-full">
            <div class="p-4 md:p-8 md:w-3/5 flex flex-col justify-center items-start">
                <h1 class="my-color">About Ashtanga Yoga</h1>
                <h1 class="text-2xl font-semibold">What Is Ashtanga Yoga?</h1>
                <p class="text-slate-500 text-sm my-4">Since the late 1990s, Ashtanga has been considered one of the most popular forms of yoga in the Western world. Ashtanga centers on a vigorous physical practice that includes a series of poses linked together with breath to form a continuous
                    sequence.
                </p>
                <p class="text-slate-500 text-sm my-4">The practice demands an intense level of physical strength, flexibility, and endurance, which explains why many people see it as a rigorous and challenging workout. Whether you're just starting out in yoga, or looking for something new
                    as your goals change</p>
                <a href="/ashtanga"> <button class="my-btn">Start Session</button></a>
            </div>
            <div class="p-4 md:p-8 md:w-2/5 object-cover flex flex-col justify-center items-center">
                <img src="../../../public/img/15.png" alt="">
            </div>
        </section>
        <%- include('../partials/footer')%>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="/public/js/app.js"></script>
</body>

</html>