<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
    <title>Yogix</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <%- include('../partials/navbar')%>
        <section class="w-full  object-contain">
            <img src="../../../public/img/14.png" alt="">
        </section>
        <section class="md:flex h-full">
            <div class="p-4 md:p-8 md:w-3/5 flex flex-col justify-center items-start">
                <h1 class="my-color">About Sun Salutation</h1>
                <h1 class="text-2xl font-semibold">What Is Sun Salutation?</h1>
                <p class="text-slate-500 text-sm my-4">Sun Salutations, also called Surya Namaskars or "Sun Salutes" by yogi practitioners, are a 12-posture sequence of flowing movements that offer an entire body stretch, counterbalancing bending of the spine, and an opening of the heart,
                    shoulders, and chest.

                </p>
                <a href="/hatha"> <button class="my-btn">Start Session</button></a>
            </div>
            <div class="p-4 md:p-8 md:w-2/5 object-cover flex flex-col justify-center items-center">
                <img src="../../../public/img/15.png" alt="">
            </div>
        </section>
        <%- include('../partials/footer')%>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="/public/js/app.js"></script>
</body>

</html>