@import './variables';
@import './utilities';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.video-wrapper {
    padding-bottom: 56.25%;
    height: 0;
}

#yogacount,
#storeImg {
    display: inline;
    margin: 1rem 0;
    text-align: center;
    height: max-content;
}

.model-wrapper {
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    transform: translateY(0px);
}

.close {
    opacity: 0;
    transform: translateY(-100%);
}

.model-wrapper.close .model-container {
    transform: translateY(-100%);
}

.model-container {
    width: 540px;
    max-width: 90%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.yoga-info,
.dashboard {
    box-shadow: 9px 9px 13px #9f9f9f, -9px -9px 13px #ffffff;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

#chartContainer1,
#chartContainer2,
#chartContainer3,
#image {
    box-shadow: 9px 9px 13px #9f9f9f, -9px -9px 13px #ffffff;
    border-radius: 10px;
}

.inputfieds {
    box-shadow: 9px 9px 13px #9f9f9f, -9px -9px 13px #ffffff;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

.dashboard-right .cards,
.dashboard-left .cards {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60vw;
}

.dashboard-right .cards {
    width: 100%;
}

.dashboard-left .cards .card p {
    font-size: 0.6rem;
    word-wrap: break-word;
}

.dashboard-right .cards .card,
.dashboard-left .cards .card {
    display: flex;
    width: 170px;
    height: 170px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 39px;
    box-shadow: 9px 9px 13px #9f9f9f, -9px -9px 13px #ffffff;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .dashboard-right .cards,
    .dashboard-left .cards {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .top-nav {
        display: inline-flex!important;
    }
}